h1{
    color: blueviolet;
}
p{
    color: red;
}
ul{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    background-color: yellow;
    padding: 20px;
    width: 100px;
    height: 100px;
}